<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807923798226-3ku6qb0ndp2c8gi1a90mnjm4tkblh9uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807923798226-3ku6qb0ndp2c8gi1a90mnjm4tkblh9uv</string>
	<key>API_KEY</key>
	<string>AIzaSyBaHT-mzXpphbNSZHJIt3lvEIoe4aAHys8</string>
	<key>GCM_SENDER_ID</key>
	<string>807923798226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reema.com.RGarage</string>
	<key>PROJECT_ID</key>
	<string>rgarage-41f98</string>
	<key>STORAGE_BUCKET</key>
	<string>rgarage-41f98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807923798226:ios:004530feb314e927a05d0b</string>
</dict>
</plist>