<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826712342757-ku0jo1e3mpbsaj4cgvh1b0c89ug38iqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826712342757-ku0jo1e3mpbsaj4cgvh1b0c89ug38iqm</string>
	<key>API_KEY</key>
	<string>AIzaSyAy7xRKHpkg9J7HzcuD8IyCMkdt8s9Jors</string>
	<key>GCM_SENDER_ID</key>
	<string>826712342757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reema.com.RGarage</string>
	<key>PROJECT_ID</key>
	<string>rgarage-e8120</string>
	<key>STORAGE_BUCKET</key>
	<string>rgarage-e8120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826712342757:ios:56cd5cab4e34a95af2940c</string>
</dict>
</plist>